<h1>Groups#index</h1>
<% @groups.each do |g| %>
<%= g.name %>
<%= g.description %>

<%= link_to 'delete', g, method: :delete, data: {confirm: 'are you sure'} %>
<%= link_to 'edit', edit_group_path(g) %>
<% end %>


<table id="moviecontainer">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>ACTUAL AMOUNT</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |t| %>
      <tr>
        <td><%= t[0] %></td>
        <td><%= t[1] %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>