<h1>Groups#show</h1>

<div id= "profile-info">
	<l1>Group Name: <%= @group.name %></li>
	</br>
	</br>
	<li>Description: <%= @group.description %></li>
	</br>
</div>

<div id="profile-photo">
	<% if @group.avatar_file_name %>
		<%= image_tag @group.avatar.url(:thumb) %><br /><br />
	<% end %>
</div>

<div class="group_members">
	<strong><p>Group Members:</p></strong>
		<ul>
		  <% @group.users.each do |user| %>
			<li class="group_members_names"><%= user.name %></li>
		  <% end %>
		</ul>
</div>

<ul class="button-group">
	<li><%= link_to 'delete', @group, class: "tiny button", method: :delete, data: {confirm: 'are you sure'} %></li>
	<li><%= link_to 'edit', edit_group_path(@group), class: "tiny button" %></li>
</ul>

